body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36454F;
  color:white;
}


.play-row{
  clear:both;
  display:table
}

.button{
  background-color: azure;
  float:left;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width:50px;
}

/*Login Styling*/

h1{
  font-size: 80px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border-radius: 10px;
  font-weight: bold;
  font-size: 25px;
  width: 40%;
  padding-left: 10px;
  border-style: none;
}

#login, #register {
  transition: all 0.5s;
  border-radius: 16px;
  font-weight: bold;
  font-size: 25px;
  width: 40%;
  background-color: #536878;
  color: white;
  padding: 20px;
  border-style: none;
}

#login:hover, #register:hover{
  border-radius: 26px;
  transition: all 0.5s;
  background-color: #00beca;
  border-style: none;
}

label {
  font-weight: normal;
  font-size: 25px;
}


